* {
    margin: 0;
    padding: 0;
}

body {
    background: #282828;
    overflow: hidden;
}

.main-page {
    display: none;
}

/* ============== Next Page Loading ============= */

.loading {
    left: 0;
    right: 0;
    top: 0;
    z-index: 12;
    position: fixed;
    --gradient-lavender: #d300c5;
    --gradient-orange: #ff7a00;
    --gradient-pink: #ff0169;
    --gradient-purple: #7638fa;
    --gradient-yellow: #ffd600;
    opacity: 0;
    transition: .4s;
    z-index: 9999;
  }

  .loading.show {
    opacity: 1;
  }
  
  .loading {
    animation: 2s linear infinite RefreshedLoadingBarProgress,
      0.5s ease-out LoadingBarEnter;
    background: linear-gradient(
      to right,
      var(--gradient-yellow),
      var(--gradient-orange),
      var(--gradient-pink),
      var(--gradient-lavender),
      var(--gradient-purple),
      var(--gradient-yellow)
    );
    background-size: 500%;
    height: 3px;
    transform-origin: left;
    width: 100%;
  }
  @keyframes RefreshedLoadingBarProgress {
    0% {
      background-position: 125% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }
  @keyframes LoadingBarEnter {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
/* Loading  Overlay */

.body-overlay {
    display: none;
}

.body-overlay.show {
    display: block;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 999;
    position: absolute;
    opacity: 0.5;
}

/* =========== Login Syle Here =========== */

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #383838;
    padding: 30px 50px;
    border-radius: 7px;
    box-shadow: rgba(41, 255, 18) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.login h2 {
    color: #dfdfdf;
    font-family: candara;
    margin-bottom: 30px;
    font-size: 27px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}
.login input {
    display: block;
    padding: 11px 18px;
    font-family: tahoma;
    margin-top: 10px;
    background: #282828;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 180px;
}

.login .input-field:focus {
    outline: none;
    box-shadow: rgb(156 250 255 / 70%) 0px 2px 4px 0px, rgb(156 250 255 / 30%) 0px 2px 16px 0px;
}

.login .input-field::placeholder {
    font-family: candara;
    color: #7c7c7c;
}

.login .login-btn {
    background: #FF5B5B;
    width: 69px;
    margin: auto;
    margin-top: 22px;
    padding: 8px 0px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .3s;
    letter-spacing: .7px;
}

.login .login-btn:hover {
    background-color: transparent;
    border-color: #FF5B5B;
}

.login .login-btn:active {
    transform: scale(.90);
}

.login p {
    text-align: center;
    width: 221px;
    margin-top: 30px;
    font-family: candara;
    color: #7c7c7c;
    font-size: 14px;
    line-height: 18px;
    word-spacing: 2px;
}

.login p span {
    color: #afafaf;
    cursor: pointer;
    text-decoration: underline;
}

/* Password Input */

.password-input {
    position: relative;
}

.password-input i {
    top: 13px;
    position: absolute;
    right: 11px;
    color: #7c7c7c;
    font-size: 14px;
    background: #282828;
    padding: 0 7px;
    cursor: pointer;
    width: 17px;
    text-align: center;
}

.password-input #hide-pass {
    display: none;
}

/* ============= Sing Up Style Here =========== */

.scound-body {
    display: none;
}

.scound-body.show {
    background-color: #282828;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    position: relative;
}

.scound-body .sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #383838;
    padding: 30px 50px;
    border-radius: 7px;
    box-shadow: rgb(255 65 65) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.sign-up h2 {
    color: #dfdfdf;
    font-family: candara;
    margin-bottom: 30px;
    font-size: 27px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}

.sign-up input {
    display: block;
    padding: 11px 18px;
    font-family: tahoma;
    margin-top: 10px;
    background: #282828;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 228px;
}

.sign-up .input-field:focus {
    outline: none;
    box-shadow: rgba(41, 255, 18) 0px 2px 4px 0px, rgb(156 250 255 / 30%) 0px 2px 16px 0px;
}

.sign-up .input-field::placeholder {
    font-family: candara;
    color: #7c7c7c;
}

.sign-up-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up .sign-up-btn {
    background: #FF5B5B;
    width: 122px;
    margin: auto;
    margin-top: 22px;
    padding: 10px 0px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .3s;
    letter-spacing: .7px;
}

.sign-up .sign-up-btn:hover {
    background: transparent !important;
    border-color: #FF5B5B;
}

.sign-up .sign-up-btn:active {
    transform: scale(.98);
}